{% extends 'base.html' %}

{% block content %}
{% if welcome %}
<h1>{{ welcome }} - Enjoy your work session!</h1>
{% else %}
<h1>Welcome to Pomodoro Timer - Enjoy your work session! </h1>
{% endif %}

<h2>Enter pomodoro session details below</h2>
<h3>Timer Details</h3>
<form action="" method="post" validate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.focus_timer.label }}<br>
        {{ form.focus_timer(size=10) }}
        {% for error in form.focus_timer.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.break_timer.label }}<br>
        {{ form.break_timer(size=10) }}
        {% for error in form.break_timer.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.rewards.label }}<br>
        {{ form.rewards(size=32) }}
        {% for error in form.rewards.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
